.tooltip {
    display: inline;
    position: relative;
}
     
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 250px;
    font-size: 12px;
    line-height: 1.6;
}
 
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.active {
    color: #444;
    margin-bottom: -1px;
    box-shadow: none;
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
}

td {
    width: 72%;
}

.progressModal,
.successModal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    border: 1px solid #3CB371;
    background-color: #fff;
    z-index: 1000;
    overflow: auto;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    box-shadow: 5px 5px 10px #cfcfcf;
    -moz-box-shadow: 5px 5px 10px #cfcfcf;
    -webkit-box-shadow: 5px 5px 10px #cfcfcf;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
.switch input {
    display: none;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EA6262;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked+.slider {
    background-color: #3CB371;
}
  
input:focus+.slider {
    box-shadow: 0 0 1px #3CB371;
}
  
input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.selectize-control {
    display: inline-block;
    vertical-align: middle;
}